<!DOCTYPE html>

<html>
	<head>
		<title>Task Manager :: {% block title %}{% endblock %}</title>

		<link rel="shortcut icon" href="/static/taskmanager/favicon.ico" type="image/x-icon" />

		<script type="text/javascript" src="/static/taskmanager/jquery-1.4.2.min.js"></script>
		<script type="text/javascript" src="/static/taskmanager/jquery-ui-1.8.4.custom.min.js"></script>
		<script type="text/javascript" src="/static/taskmanager/jquery.calendrical.js"></script>
		<script type="text/javascript" src="/static/taskmanager/fullcalendar.min.js"></script>
		<script type="text/javascript" src="/static/taskmanager/jquery.blockUI.js"></script>
		<script type="text/javascript" src="/static/taskmanager/facebox/facebox.js"></script>

		<link rel="stylesheet" type="text/css" href="/static/taskmanager/calendrical.css" />
		<link rel="stylesheet" type="text/css" href="/static/taskmanager/fullcalendar.css" />
		<link rel="stylesheet" type="text/css" href="/static/taskmanager/facebox/facebox.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="/static/taskmanager/css/tabs.css" />

		<link rel="stylesheet" type="text/css" href="/static/taskmanager/taskmanager.css" />
		<link rel="stylesheet" type="text/css" href="/static/taskmanager/taskmanager_details.css" />

		<style>
		{% block styles %}{% endblock %}
		</style>

		<script type="text/javascript">
		{% block scripts %}{% endblock %}
		</script>
	</head>

	<body {% if section %}id="{{ section }}"{% endif %}>
		<h1>{% block header %}{% endblock %}</h1>

		{% block content %}{% endblock %}
	</body>
</html>