{% extends "dashboard/layout.html" %}

{% block title %}Dashboard{% endblock %}
{% block header %}<img src="/static/taskmanager/misc-icons/taskmanager.png" style="margin-bottom: -12px; margin-right: 0px;" /> Task Manager :: Dashboard{% endblock %}

{% block styles %}
	body { margin: 0px; padding: 0px; }
	body, table { font-family: Tahoma, sans-serif; font-size: 12px; }

	/* tabs */
	.iconified_tab {
		padding-right: 5px; margin-left: -6px; margin-bottom: -3px;
	}

	.selector_assembly {
		padding: 20px;
		padding-right: 25px;
	}

	.column_container {
		width: 100%; overflow: hidden;
		border: solid 1px gray;
		background: white;
	}

	div.column { min-height: 300px; }
	td.column  { height:     352px; }

	.column .col_header { background: #ccc; font-weight: bold; font-size: 24px; padding: 10px; border-bottom: solid 3px gray; min-width: 220px; }
	.column .bin {
		padding: 10px; background: #ccc; border-top: solid 1px gray;
		font-weight: bold; position: absolute; left: 0px; right: 0px; bottom: 0px; height: 1em;
	}

	.column .itemlist { background: white; }

	.chooser a { display: block; padding: 10px; text-decoration: none; color: black; }
	.chooser a:hover { background: #E3EFF3; }
	.chooser a.selected { background: #0D436F; color: white; font-weight: bold; }
	.chooser a .address_box { font-size: 10px; color: #555; }
	.chooser a.selected .address_box { color: #ccc; }

	/* commands */
	.col_command { padding: 5px; }
	.command_header {
		padding: 15px; font-weight: bold; padding-left: 50px; font-size: 14px; background: #ddd;
		-moz-border-radius: 5px; -webkit-border-radius: 5px;
		cursor: pointer;
	}
	.command_options { display: none; background: #eee; position: relative; top: -5px; }

	/* icon assignments */
	#users_column { width: 100%; }
	#users_column .col_header { background: #ccc url('/static/taskmanager/icons/Users.png') no-repeat 5px center; padding-left: 45px; }
	#users_column .choosable { background-image: url('/static/taskmanager/icons/User.png'); background-repeat: no-repeat; background-position: 5px center; padding-left: 45px; }

	.history_view_table #history_column { width: 100%; }
	.history_view_table #history_column .col_header { background: #ccc url('/static/taskmanager/icons/Discussion.png') no-repeat 5px center; padding-left: 45px; }

	.calendar_view_table #calendar_column { width: 100%; }
	.calendar_view_table #calendar_column .col_header { background: #ccc url('/static/taskmanager/icons/Calendar%20Big.png') no-repeat 5px center; padding-left: 45px; }

	.tasks_view_table #schedule_column .col_header { background: #ccc url('/static/taskmanager/icons/Appointment.png') no-repeat 5px center; padding-left: 45px; }
	.tasks_view_table #running_column .col_header { background: #ccc url('/static/taskmanager/icons/Appointment%20Urgent.png') no-repeat 5px center; padding-left: 45px; }
	.tasks_view_table #results_column .col_header { background: #ccc url('/static/taskmanager/icons/Appointment%20Cool.png') no-repeat 5px center; padding-left: 45px; }

	.processes_view_table #schedule_column .col_header { background: #ccc url('/static/taskmanager/icons/Gear%20Alt.png') no-repeat 5px center; padding-left: 45px; }
	.processes_view_table #running_column .col_header { background: #ccc url('/static/taskmanager/icons/Gear%20Alt%20Urgent.png') no-repeat 5px center; padding-left: 45px; }
	.processes_view_table #results_column .col_header { background: #ccc url('/static/taskmanager/icons/Gear%20Alt%20Cool.png') no-repeat 5px center; padding-left: 45px; }

	/* task lists */
	.task_list td { padding: 10px; width: 100%; }
	.task_list .subtext { padding-left: 1em; font-size: smaller; }

	/* page structure */
	.structural { width: 100%; }
	.structural td.outer { padding: 5px; }
	.structural #user_cell { width: 300px; }

	/* tabs */
	.tabrow td { padding: 0px; margin: 0px; }

	/* header commands */
	.header_command {
		background: #bbb; position: absolute;
		right: 0px; top: 0px; bottom: 0px;
		padding: 8px 12px; border-left: solid 1px #999;
	}
	.header_command.selected {
		border: solid 3px gray; background: white;
		border-bottom: none; bottom: -3px;
		padding: 5px 9px;
	}

	.column_dialog {
		background: white; border: solid 3px gray; border-top: none;
		position: absolute; padding: 10px; display: none;
	}
{% endblock %}

{% block scripts %}

	// external so that sections can use it, too
	function toggleDialog($me, $dialog, $header) {
		var xpadding = ($dialog.outerWidth() - $dialog.width());
		var ypadding = ($dialog.outerHeight() - $dialog.height());

		var $img = $me.find("img");

		if ($dialog.is(":hidden")) {
			$me.addClass("selected");
			$img.attr("src", "/static/taskmanager/icons/Add%20Stencil%20Button.png");

			$dialog.css({
				'top':  $header.offset().top + $header.outerHeight(),
				'left': $header.offset().left,
				'width': $header.outerWidth() - xpadding
				/* 'height': $("#schedule_column").outerHeight() - $header.outerHeight() - ypadding */
			}).slideDown();
		}
		else {
			$me.removeClass("selected");
			$img.attr("src", "/static/taskmanager/icons/Add%20Green%20Button.png");

			$dialog.fadeOut();
		}
	}

	$(document).ready(function() {
		function refreshView() {
			// attach facebox to links
			$('a[rel*=facebox]').facebox();
		}

		// make sure we set the page up the first time it runs
		// (in the future, this will be called when we do ajax refreshes)
		refreshView();

		// bind up pointless chooser junk
		//
		$(".chooser").each(function() {
			var $items = $(this).find(".choosable");
			var $parent = $(this).closest(".column");

			$items.click(function(event) {
				$items.removeClass("selected");
				$(this).addClass("selected");
				$parent.trigger("selected", [$(this)]);

				// event.preventDefault();
				// event.stopPropogation();
			});
		});

		// AJAX stuff

		$("#refresh_section").click(function() {
			var returned = false;

			setTimeout(function() {
				if (!returned)
					$('#section_holder').block({ message: null });
			}, 100);

			$.ajax({
				url: "/taskmanager/patients/{{ selected_patientid }}/{{ section }}/",
				dataType: "html",
				success: function(data) {
					returned = true;
					$("#section_holder").html(data);
					$("#section_holder").unblock();

					// rebind all the item handlers
					refreshView();
				}
			});
		});

		// bind up patient form adder dialogs
		$("#patient_show_add_btn").live('click', function() {
			var $dialog = $("#patient_add_dialog");
			var $header = $("#users_column .col_header");

			toggleDialog($(this), $dialog, $header);
		});
	});
{% endblock %}

{% block content %}
	<!--
	<div class="header" style="margin-bottom: 0.5em;">&#149; manage users and tasks:</div>
	-->

	<table class="structural" cellpadding="0" cellspacing="0">
		<tr class="tabrow">
			<td valign="bottom">
				<div class="tabber">&nbsp;</div>
			</td>

			<td valign="bottom">
				{% if selected_patientid %}
				<ul class="tabber" id="tabnav">
					<li class="tab2"><a href="/taskmanager/patients/{{ selected_patientid }}/processes/"><img src="/static/taskmanager/fugue/icons/gear.png" border="0" class="iconified_tab" />Processes</a></li>
					<li class="tab3"><a href="/taskmanager/patients/{{ selected_patientid }}/tasks/"><img src="/static/taskmanager/fugue/icons/clock-frame.png" border="0" class="iconified_tab" />Tasks</a></li>
					<li class="tab1"><a href="/taskmanager/patients/{{ selected_patientid }}/history/"><img src="/static/taskmanager/fugue/icons/balloon-white.png" border="0" class="iconified_tab" />History</a></li>
					<li class="tab4"><a href="/taskmanager/patients/{{ selected_patientid }}/calendar/"><img src="/static/taskmanager/fugue/icons/calendar.png" border="0" class="iconified_tab" />Calendar</a></li>
				</ul>
				{% else %}
				<div class="tabber">&nbsp;</div>
				{% endif %}
			</td>

			<td valign="bottom">
				<div class="tabber" style="text-align: right; padding-right: 5px; font-weight: normal; color: #555;">&nbsp;
				{% if user %}
				logged in as <b>{{ user }}</b> - <a href="/taskmanager/logout">log out</a>
				{% endif %}
				</div>
			</td>
		</tr>

		<tr>
			<td valign="top" id="user_cell" class="outer">
				<div class="column_container">
					<div id="users_column" class="column">
						<div class="col_header" style="position: relative;">
							Patients
							<a id="patient_show_add_btn" class="header_command" href="#" alt="Add a Patient">
								<img src="/static/taskmanager/icons/Add%20Green%20Button.png" border="0" />
							</a>
						</div>

						<div class="itemlist chooser" style="min-height: 300px;">
							{% for patient in patients %}
							<a class="{% if patient.id|lower == selected_patientid|lower %}selected{% endif %} choosable" href="/taskmanager/patients/{{ patient.id }}/{{ section|default:'processes' }}">
								{{ patient.first_name }} {{ patient.last_name }}
								<div class="address_box">{{ patient.address }}</div>
							</a>
							{% endfor %}
						</div>
					</div>
				</div>
			</td>

			<td valign="top" id="content_cell" class="outer" colspan="2">
				{% if selected_patientid %}
				<div id="section_holder">
				{% include section_url %}
				</div>

				<div style="text-align: right;">
					<b>server time:</b> {% now "N j Y, P" %} |
					<a id="refresh_section" href="javascript:void(0)">refresh</a>
				</div>
				{% else %}
				<table cellpadding="0" cellspacing="0" style="min-height: 300px; width: 100%; border: solid 1px gray;">
					<tr>
						<td valign="top" class="column" style="height: auto;">
							<div class="col_header">&nbsp;</div>
						</td>
					</tr>

					<tr>
						<td>
							<div style="min-height: 300px; background: url('/static/taskmanager/images/diagonal-gray.png');"></div>
						</td>
					</tr>
				</table>
				{% endif %}
			</td>
		</tr>
	</table>

	<!--
	========================================
	=== the land of hidden divs
	========================================
	-->

	<div id="patient_add_dialog" class="column_dialog">
		<form id="patient_form" action="{% url taskmanager.subviews.dashboard.add_patient %}" method="POST">
			<div style="font-weight: bold; font-family: Verdana, sans-serif; font-size: 22px; margin-bottom: 0.5em;">Add a Patient</div>

			<input type="hidden" name="return_page" value="{{ current_page }}" />

			{% if error_msg %}
			<div class="errorbox">
				<b>error:</b> {{ error_msg }}
			</div>
			{% endif %}

			<table class="vertical">
				<tr><td class="label">Given Name:</td><td>
					<input type="text" name="first_name" />
				</td></tr>

				<tr><td class="label">Surname:</td><td>
					<input type="text"  name="last_name" />
				</td></tr>

				<tr><td class="label">Email Address:</td><td>
					<input type="text"  name="address" />
				</td></tr>

				<tr><td class="label">&nbsp;</td><td align="right"><input type="submit" name="add_patient_btn" value="Create"></td></tr>
			</table>
		</form>
	</div>
{% endblock %}